# Expo / React Native
.expo/
.expo-shared/
node_modules/
*.log

# Expo native folders (prebuild)
android/
ios/

# Metro / Bundler
.expo/
.cache
dist/
web-build/

# Env files
.env
.env.*
!*.example.env

# Editor and IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS files
.DS_Store
.AppleDouble
.LSOverride
Icon?
ehthumbs.db
Thumbs.db

# TypeScript build outputs
*.tsbuildinfo

# PWA artifacts
/public/manifest.json
/public/logo*.png
/public/favicon.ico

# Laravel (backend)
vendor/
node_modules/            # if using npm in Laravel
/public/storage
/storage/*.key
.env
Homestead.json
Homestead.yaml
.phpunit.result.cache
/storage/framework/*
!/.gitignore

# IDE helper (Laravel)
_ide_helper.php

# Other artifacts
*.sql
*.sqlite
*.bak
.cache/
*.zip
